Source: clearpath-remote-support
Section: devel
Priority: extra
Maintainer: Alex Bencz <abencz@clearpathrobotics.com>
Build-Depends: debhelper (>= 8.0.0), cdbs
Standards-Version: 3.9.2
Homepage: https://github.com/clearpathrobotics/clearpath-remote-support
#Vcs-Git: git://git.debian.org/collab-maint/backgrounds.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/backgrounds.git;a=summary

Package: clearpath-remote-support
Architecture: all
Depends: ${misc:Depends}, socket
Description: Clearpath Robotics remote support scripts.
 Scripts for creating a remote connection to a customer PC.
